a, a:hover{
	color: inherit;
	text-decoration: none;
}

ul{
	list-style: none;
}

h1 {
	color: #3498db;
	color: red;
}

body{
	background: #34495e ;
	margin-bottom: 50px;
	color: white;
}

p, ul li{
	color: white;
	opacity: .95;
}

h2{
	font-size: 20px;
}

img.thumb-theme, img.program{
	width: 100%;
}

.arrow-right{
	float: right;
	text-shadow: 0 0 5px white;
}

.img-contact{
	width: 100px;
}

.title{
	margin-top: 0;
}

.line {
	border-bottom: 1px solid rgba(255, 255, 255, 0.32);
	padding: 10px 0px;
}



/***************************\
	Sidebar
\***************************/

nav#sidebar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	background-color: #34495e;
	color: white;
	opacity: .95;
	font-size: 20px;
	width: 300px;
}

nav#sidebar li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	padding: 10px 0px;
	padding-left: 10px;
}

nav#sidebar li:hover {
	background-color: #587798;
	transition: all .2s;
}

nav#sidebar ul {
	margin: 0;
	padding: 0;
	margin-left: 15px;
}

nav#sidebar .glyphicon {
	margin-right: 15px;
}

#main_content{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	min-width: 400px;
	background-color: #34495e;
	box-shadow: 0 -10px 10px rgba(0, 0, 0, .5);
	transition: all .5s ease-out;
}

#main_player{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
}

#menu_hamburger{
	padding: 0 10px;
	cursor: pointer;
}

#main_content:after {
	content: "";
	position: absolute;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	visibility: hidden;
	border-radius: 50px;
	background-color: black;
	opacity: 0;
	transition: all .5s ease-in-out;
}
#main_content.sidebar-opened{
	overflow: hidden;
	white-space: nowrap;
	left: 300px;
	right: inherit;
}

#main_content.sidebar-opened:after {
	opacity: .5;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 0;
	visibility: visible;
}