<section class="container-fluid">
	
	<a href="https://www.facebook.com/GbRadioHEI?fref=pb&amp;hc_location=profile_browser">
		<article class="row">
			<div class="col-xs-3">
				<img class="img-contact" src="img/icone_fb.png" alt="logo_sd">
			</div>
			<div class="col-xs-7 rubrique_menu">
				<h3>FACEBOOK</h3>
			</div>
		</article>
	</a>

	<a href="https://twitter.com/gbradiohei">
		<article class="row">
			<div class="col-xs-3">
				<img class="img-contact" src="img/icone_twitter.png" alt="logo_sd">
			</div>
			<div class="col-xs-7 rubrique_menu">
				<h3>TWITTER</h3>
			</div>
		</article>
	</a>


	<a href="mailto:gbradio@hei.fr?&amp;subject=Prise de contact GB Radio">
		<article class="row">
			<div class="col-xs-3">
				<img class="img-contact" src="img/icone_mail.png" alt="logo_sd">
			</div>
			<div class="col-xs-7 rubrique_menu">
				<h3>MAIL</h3>
			</div>
		</article>
	</a>

</section>